* {
    box-sizing: border-box;
}


header{
    background-color: #000;
    color: #fff;
    justify-content: center;
    align-items: center;

}
header .wrapper{
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style: none;
    margin-left: 0px;
    display: flex;

}

nav ul li{
    padding-left: 15px;
}
/* add div class=wrapper in html */
.wrapper {
    max-width: 940px;
    
}

.hero{
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-color: beige;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
  }
    
.hero, h1{
    max-width: 60%;
    color: black;
    opacity: 50%;
    text-shadow: 3px;
    background-color: white;
    display: flex;
}

.about-me{
    display: grid;
    grid-template-columns: repeat(2 1fr);
    align-items: start;
    align-content: center;
  }
    

.about-me .block:nth-child(2){
    align-self: end;

}

.services{
    background-color: #fafafa;
    
}

.services .div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.services, h2{
    display: flex;
    max-width: 300px;
    text-align: center;
}

.my-work{
    display: grid;
    grid-column: repeat(6, 1fr);
    grid-row: repeat(2, 1fr);
    grid-area: 
    "i1 i1 i1 i2 i2 i2"
    "i3 i3 i4 i4 i5 i5"
    ;
}

footer{
    background-color: #000;
    color: white;
}